name: Build Armbian Lyra Ultra

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build Armbian image
      run: |
        COLUMNS=160 GITHUB_ACTIONS=true sudo -E ./compile.sh \
          BOARD=luckfox-lyra-ultra \
          BRANCH=vendor \
          RELEASE=trixie \
          BUILD_MINIMAL=yes \
          BUILD_DESKTOP=no \
          KERNEL_CONFIGURE=no \
          BUILD_ALL=yes

    - name: Upload Armbian Image Artifact
      uses: actions/upload-artifact@v4
      with:
        name: armbian-image
        path: output/images/*

    - name: Upload U-Boot Loader Artifact
      uses: actions/upload-artifact@v4
      with:
        name: uboot-loader
        path: output/debs/linux-u-boot-*-lyra-ultra_*.deb
